<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Authorship Viewport
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->  
    <title>Graph Designer</title>
    <meta content="Institute of Translational Genomics, USC 2020 David W. Craig" name="author">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vega/5.20.2/vega.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vega-embed/6.17.0/vega-embed.min.js"></script>

    <div id="crossex_app" style="position:inherit;max-width:100%;margin:0 auto;padding:10px;background:#FFF;border:green solid 1px"></div>
    <script type="text/javascript" settings="{}"><%- include wrapper.ejs %></script>

</body>
</html>
