<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Authorship Viewport
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->  
    <title>Graph Designer</title>
    <meta content="Institute of Translational Genomics, USC 2020 David W. Craig" name="author">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
            <!-- external libs from cdnjs -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
</head>
<body>
    <script src="https://d3js.org/d3.v6.min.js"></script> 
    <div id="crossex_app" style="position:inherit;max-width:100%;margin:0 auto;padding:10px;background:#FFF;"></div>
    <script type="text/javascript" settings="{}"><%- include wrapper.ejs %></script>
</body>
</html>
