/* Main –––––––––––––––––––––––––––––––––––––––––––––––––– */
.cc {
	margin: 0 auto;
	position: relative;
	vertical-align: top;
	padding: 0px 0px 0px 0px;
	width:100%;
	height:100%;
	font-size: 12px;
	line-height:12px;
	display: block;	
	color: #1c1f2a;
}
.cc_graph {
	background: transparent;
	margin: 0 auto;
	margin-block-start: 0px;
	margin-block-end: 0px;
	margin-inline-start: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-inline-end: 0px;
    margin-top: 0px;
    margin-bottom: 0px;	
	width:100%;
	height:100%;
	display: flex;	
}
.cc_graph_container {
	width: 100%;
    height: 100%;
	background: white;
	padding:2px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 2px solid #888;
    border-top: 0.5px solid #AAA;
    border-right: 2px solid #888;
}

p.itg-emph {
    font-size: 10px;
    line-height: 12px;
	width:90px;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
    color: #1c1f2a;
    background-color: #cccccc;
    letter-spacing: 0;
    text-align: center;
    margin-block-start: 6px;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.cc_container {
	position: relative;
	display: contents !important;
	vertical-align: top;
	box-sizing: border-box;
	display:contents;
	width: 100%;
}
.cc_container:after {
	content: '';
	display: contents;
	clear: both;
}
.marks {
	width:100%;
	height:auto;
}
.cc_tab {
    background-color: #cccccc;
    border-left: 0.5px solid #AAA;
    border-bottom: 0.5px solid #AAA;
    border-top: 0.5px solid #AAA;
    width: 18px;
    height: inherit;
	opacity:1;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin: 0;
    z-index: 1;
}
.cc_tabscontent {
    width: min-content;
    background: #eeeeee;
    border-top: 0.5px solid #AAA;
	border-left: 0.5px solid #AAA;
    border-bottom-left-radius: 4px;
	border-bottom: 2px solid #AAA;
    z-index: 2;
}
button.cc_tablinks>img {
	width: 14px;
	padding-right: 4px;
	transition: 0.05s;
	opacity:0.75;
}	
button.cc_tablinks:hover>img {
	width: 20px;
	transition: 0.05s;
	opacity:1;
}

.cc_tab button {
    display: block;
    background-color: transparent;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border: none;
    height: 30px;
    outline: none;
    cursor: pointer;
    width: 20px;
    transition: 0.05s;
    padding: 0px;
	margin: 0px 1px 1px 1px;
}
button.active.cc_tablinks>img {
    margin-left: 4px;
	width: 15px;
	opacity:1;
}
.cc_tab button:hover {
	opacity:1;
    background-color: #eee;
}
.cc_tab button.active {
    background-color: #eee;
    width: 100%;
    padding: 0px;
    border-left: 0.5px solid #999;
    box-shadow: -0.5px 1px 1px 0px #999;
    z-index: 2;
}

.cc_tabcontent {
    float: left;
    padding: 2px;
    background-color: #eee;
    margin: 0px 0px 0px 0px;
    z-index: 5;
    /* border-right: #DDD solid 1px; */
    width: min-content !important;
    width: 88px;
    /* border-left: 1px solid #aaa; */
}
.cc_panel {
	padding-right: 0px;
	width: min-content;
    margin-left: -30px;
    padding-right: 0px;
    z-index:3;
    margin: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    height: inherit;
    display: inline-block;
    vertical-align: top;
}

/* -------------------------------------------------------------------
  crossextip
  Modern, lightweight css-only tooltips
  Just 1kb minified and gzipped
  @author Ghosh
  @package crossextip
----------------------------------------------------------------------
  1. Base Styles
  2. Direction Modifiers
  3. Position Modifiers
--------------------------------------------------------------------*/


/* ------------------------------------------------
  [1] Base Styles
-------------------------------------------------*/

[aria-label][role~="tooltip"] {
	position: relative;
  }
  
  [aria-label][role~="tooltip"]::before,
  [aria-label][role~="tooltip"]::after {
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	will-change: transform;
	opacity: 0;
	pointer-events: none;
	transition: all var(--crossextip-transition-duration, .18s) var(--crossextip-transition-easing, ease-in-out) var(--crossextip-transition-delay, 0s);
	position: absolute;
	box-sizing: border-box;
	z-index: 10;
	transform-origin: top;
  }
  
  [aria-label][role~="tooltip"]::before {
	background-size: 100% auto !important;
	content: "";
  }
  
  [aria-label][role~="tooltip"]::after {
	background: rgba(17, 17, 17, .9);
	border-radius: 4px;
	color: #ffffff;
	content: attr(aria-label);
	font-size: var(--crossextip-font-size, 13px);
	font-weight: var(--crossextip-font-weight, normal);
	text-transform: var(--crossextip-text-transform, none);
	padding: .5em 1em;
	white-space: nowrap;
	box-sizing: content-box;
  }
  
  [aria-label][role~="tooltip"]:hover::before,
  [aria-label][role~="tooltip"]:hover::after {
	opacity: 1;
	pointer-events: auto;
  }
  
  
  
  /* ------------------------------------------------
	[2] Position Modifiers
  -------------------------------------------------*/
  
  [role~="tooltip"][data-crossextip-position|="top"]::before {
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%280%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E") no-repeat;
	height: 6px;
	width: 18px;
	margin-bottom: 5px;
  }
  
  [role~="tooltip"][data-crossextip-position|="top"]::after {
	margin-bottom: 11px;
  }
  
  [role~="tooltip"][data-crossextip-position|="top"]::before {
	transform: translate3d(-50%, 0, 0);
	bottom: 100%;
	left: 50%;
  }
  
  [role~="tooltip"][data-crossextip-position|="top"]:hover::before {
	transform: translate3d(-50%, -5px, 0);
  }
  
  [role~="tooltip"][data-crossextip-position|="top"]::after {
	transform: translate3d(-50%, 0, 0);
	bottom: 100%;
	left: 50%;
  }
  
  [role~="tooltip"][data-crossextip-position="top"]:hover::after {
	transform: translate3d(-50%, -5px, 0);
  }
  
  /* ------------------------------------------------
	[2.1] Top Left
  -------------------------------------------------*/
  [role~="tooltip"][data-crossextip-position="top-left"]::after {
	transform: translate3d(calc(-100% + 16px), 0, 0);
	bottom: 100%;
  }
  
  [role~="tooltip"][data-crossextip-position="top-left"]:hover::after {
	transform: translate3d(calc(-100% + 16px), -5px, 0);
  }
  
  
  /* ------------------------------------------------
	[2.2] Top Right
  -------------------------------------------------*/
  [role~="tooltip"][data-crossextip-position="top-right"]::after {
	transform: translate3d(calc(0% + -16px), 0, 0);
	bottom: 100%;
  }
  
  [role~="tooltip"][data-crossextip-position="top-right"]:hover::after {
	transform: translate3d(calc(0% + -16px), -5px, 0);
  }
  
  
  /* ------------------------------------------------
	[2.3] Bottom
  -------------------------------------------------*/
  [role~="tooltip"][data-crossextip-position|="bottom"]::before {
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%28180%2018%206%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E") no-repeat;
	height: 6px;
	width: 18px;
	margin-top: 5px;
	margin-bottom: 0;
  }
  
  [role~="tooltip"][data-crossextip-position|="bottom"]::after {
	margin-top: 11px;
  }
  
  [role~="tooltip"][data-crossextip-position|="bottom"]::before {
	transform: translate3d(-50%, -10px, 0);
	bottom: auto;
	left: 50%;
	top: 100%;
  }
  
  [role~="tooltip"][data-crossextip-position|="bottom"]:hover::before {
	transform: translate3d(-50%, 0, 0);
  }
  
  [role~="tooltip"][data-crossextip-position|="bottom"]::after {
	transform: translate3d(-50%, -10px, 0);
	top: 100%;
	left: 50%;
  }
  
  [role~="tooltip"][data-crossextip-position="bottom"]:hover::after {
	transform: translate3d(-50%, 0, 0);
  }
  
  
  /* ------------------------------------------------
	[2.4] Bottom Left
  -------------------------------------------------*/
  [role~="tooltip"][data-crossextip-position="bottom-left"]::after {
	transform: translate3d(calc(-100% + 16px), -10px, 0);
	top: 100%;
  }
  
  [role~="tooltip"][data-crossextip-position="bottom-left"]:hover::after {
	transform: translate3d(calc(-100% + 16px), 0, 0);
  }
  
  
  /* ------------------------------------------------
	[2.5] Bottom Right
  -------------------------------------------------*/
  [role~="tooltip"][data-crossextip-position="bottom-right"]::after {
	transform: translate3d(calc(0% + -16px), -10px, 0);
	top: 100%;
  }
  
  [role~="tooltip"][data-crossextip-position="bottom-right"]:hover::after {
	transform: translate3d(calc(0% + -16px), 0, 0);
  }
  
  
  /* ------------------------------------------------
	[2.6] Left
  -------------------------------------------------*/
  [role~="tooltip"][data-crossextip-position="left"]::before,
  [role~="tooltip"][data-crossextip-position="left"]::after {
	bottom: auto;
	left: auto;
	right: 100%;
	top: 50%;
	transform: translate3d(10px, -50%, 0);
  }
  
  [role~="tooltip"][data-crossextip-position="left"]::before {
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%28-90%2018%2018%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E") no-repeat;
	height: 18px;
	width: 6px;
	margin-right: 5px;
	margin-bottom: 0;
  }
  
  [role~="tooltip"][data-crossextip-position="left"]::after {
	margin-right: 11px;
  }
  
  [role~="tooltip"][data-crossextip-position="left"]:hover::before,
  [role~="tooltip"][data-crossextip-position="left"]:hover::after {
	transform: translate3d(0, -50%, 0);
  }
  
  
  /* ------------------------------------------------
	[2.7] Right
  -------------------------------------------------*/
  [role~="tooltip"][data-crossextip-position="right"]::before,
  [role~="tooltip"][data-crossextip-position="right"]::after {
	bottom: auto;
	left: 100%;
	top: 50%;
	transform: translate3d(-10px, -50%, 0);
  }
  
  [role~="tooltip"][data-crossextip-position="right"]::before {
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%2890%206%206%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E") no-repeat;
	height: 18px;
	width: 6px;
	margin-bottom: 0;
	margin-left: 5px;
  }
  
  [role~="tooltip"][data-crossextip-position="right"]::after {
	margin-left: 11px;
  }
  
  [role~="tooltip"][data-crossextip-position="right"]:hover::before,
  [role~="tooltip"][data-crossextip-position="right"]:hover::after {
	transform: translate3d(80px, -50%, 0);
  }
  
  /* ------------------------------------------------
	[3] Size
  -------------------------------------------------*/
  [role~="tooltip"][data-crossextip-size="small"]::after {
	white-space: initial;
	width: 80px;
  }
  
  [role~="tooltip"][data-crossextip-size="medium"]::after {
	white-space: initial;
	width: 150px;
  }
  
  [role~="tooltip"][data-crossextip-size="large"]::after {
	white-space: initial;
	width: 260px;
  }

  :root {
	--crossextip-transition-duration: 0.5s;
	--crossextip-transition-easing: ease-in-out;
	--crossextip-font-size: 10px;
	--crossextip-font-weight: bold;
   }

/* crossex –––––––––––––––––––––––––––––––––––––––––––––––––– */
.vega-embed {
	background: transparent;
}
div.vega-bind {
	margin: 1px !important;
	padding: 0px 1px !important;
	width: 100% !important;
	display: block !important;
	text-align: left !important;
	font-size: 10px !important;
}
div.vega-bind select {
    font-size: 10px !important;
}
.vega-bind-radio input {
	font-size: 10px !important;
}
#vg-tooltip-element {
	visibility: hidden;
	padding: 0.7em !important;
	line-height: 0.9em !important;
	position: fixed !important;
	z-index: 1000;
	font-family: sans-serif;
	font-size: xx-small !important;
	border-radius: 3px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
	background-color: rgba(255, 255, 255, 0.95);
	border: 1px solid #dcdcdc;
	color: black;
}

div.vega-bind > label > input[type="text"] {
    width: 60px !important;
    font-size: 10px !important;
}
#vg-tooltip-element table tr td {
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	padding-top: 0.5px !important;
	padding-bottom: 0.5px !important;
}

div.vega-bind > label > input[type="range"] {
	height: 0px !important;
	-webkit-appearance: none !important;
	margin: 0px 0 !important;
	width: 60px !important;
}
div.vega-bind > label > div.vega-bind > label > input[type=range]:focus {
	outline: none !important;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 60px !important;
	height: 4px !important;
	cursor: pointer !important;
	box-shadow: 1px 1px 1px #50555C !important;
	background: #50585C !important;
	border-radius: 6px !important;
	border: 0px solid #000000 !important;
}
input[type=range]::-webkit-slider-thumb {
	box-shadow: 0px 0px 0px #000000 !important;
	border: 0px solid #000000 !important;
	height: 10px !important;
	width: 6px !important;
	border-radius: 5px !important;
	background: #529DE1 !important;
	cursor: pointer !important;
	-webkit-appearance: none !important;
	margin-top: -3px !important;
}
div.vega-bind > label > input[type=range]:focus::-webkit-slider-runnable-track {
	background: #50585C !important;
}
div.vega-bind > label > input[type=range]::-moz-range-track {
	width: 60px !important;
	height: 4px !important;
	cursor: pointer !important;
	background: #50585C !important;
	border-radius: 6px !important;
	border: 0px solid #000000 !important;
}
div.vega-bind > label > input[type=range]::-moz-range-thumb {
	box-shadow: 0px 0px 0px #000000 !important;
	border: 0px solid #000000 !important;
	height: 10px !important;
	width: 6px !important;
	border-radius: 5px !important;
	background: #529DE1 !important;
	cursor: pointer !important;
}
div.vega-bind > label > input[type=range]::-ms-track {
	width: 60px !important;
	height: 4px !important;
	cursor: pointer !important;
	background: transparent !important;
	border-color: transparent !important;
	color: transparent !important;
}
div.vega-bind>label>span {
    font-size: 10px !important;
    font-family: sans-serif !important;
    vertical-align: top !important;
    position: relative !important;
    margin: 0px 0px 0px 0px !important;
    color: #555 !important;
}
div.vega-bind>label>span:nth-child(3) {
	font-size: 10px !important;
    font-family: sans-serif !important;
	vertical-align: top !important;
	position: relative;
	margin: 15px 0px 0px 2px !important;
	color: #607d8b !important;
}
div.vega-bind > label > input[type=range]::-ms-fill-lower {
	background: #50585C !important;
	border: 0px solid #000000 !important;
	border-radius: 12px !important;
	box-shadow: 1px 1px 1px #50555C !important;
}
div.vega-bind > label > input[type=range]::-ms-fill-upper {
	background: #50585C !important;
	border: 0px solid #000000 !important;
	border-radius: 12px !important;
	box-shadow: 1px 1px 1px #50555C !important;
}
div.vega-bind > label > input[type=range]::-ms-thumb {
	margin-top: 1px !important;
	box-shadow: 0px 0px 0px #000000 !important;
	border: 0px solid #000000 !important;
	height: 10px !important;
	width: 6px !important;
	border-radius: 5px !important;
	background: #529DE1 !important;
	cursor: pointer !important;
}
div.vega-bind > label > input[type=range]:focus::-ms-fill-lower {
	background: #50585C !important;
}
div.vega-bind > label > input[type=range]:focus::-ms-fill-upper {
	background: #50585C !important;
}

div.vega-bind > label > input[type="color"] {
	height: auto !important;
	border-width: 0px !important;
}
.vega-bindings {
	display: inline-block !important;
}
.vega-bind-name {
	text-align: left !important;
	font-weight: normal !important;
	
	color: #555 !important;
	padding: 0px !important;
	display: inline-block !important;
}

div.vega-bind select {
	-webkit-appearance: menulist !important;
	-moz-appearance: menulist !important;
	align-items: center !important;
	-webkit-rtl-ordering: logical !important;
	text-align: center !important;
	background-color: black !important;
	opacity: 0.8 !important;
	color: #ddd !important;
	margin: 0px !important;
	font-size: 10px !important;
	width: 60px !important;
	display: block !important;
	position: relative !important;
	transparent-space: nowrap !important;
	text-overflow: ellipsis !important;
	border-width: 1px !important;
	width: 85px !important;
	border-style: solid !important;
	border-color: rgb(194, 194, 194) !important;
	overflow: hidden !important;
}
.vega-bind-radio input {
	font-size: 10px !important;
}
div.vega-bind > label > input[type="checkbox"] {
	background-color: initial !important;
	height: 10px !important;
	cursor: default !important;
	appearance: checkbox !important;
	float: right !important;
	box-sizing: border-box !important;
	margin: 1px !important;
	padding: initial !important;
	border: initial !important;
}
/* Tables  –––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Pivot –––––––––––––––––––––––––––––––––––––––––––––––––– */
.pvtUi table {
	font-size: x-small;
	color: #000000;
	border-collapse: collapse;
	    border: 1px solid #dee2e6;
		overflow: hidden;
		text-overflow: ellipsis;

}

.pvtUi { 
	width: 100%;     font-size: x-small;
	border: 1px solid #dee2e6;
}
.pvtUi table > thead > tr > th {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
	box-sizing: border-box;
	padding: 0.3rem;
	text-align: center;
	border-bottom: 2px solid #dee2e6;
    margin: 0;
}
.pvtVertList { width: 15%; }
.pvtAxisContainer, .pvtVals {
    border: 1px solid #a2b1c6;
    background: #f2f5fa;
    padding: 5px;min-width: 20px;
    min-height: 20px;
}
.pvtRenderers {
    padding-left: 5px;
    user-select: none;
}
.pvtUi table > tbody > tr> td {
	border: 1px solid #dee2e6;
	padding: 0.3rem;
	text-align: center !important;
}
.pvtDropdown {
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    margin: 3px;
}
.pvtDropdownCurrent {
    text-align: left;
    border: 1px solid #a2b1c6;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    width: 210px;
    box-sizing: border-box;
    background: #fff;
}
.pvtDropdownValue {
    padding: 2px 5px;
    font-size: 12px;
    text-align: left;
}
.pvtDropdownIcon {
    float: right;
    color: #a2b1c6;
}
.pvtHorizList li {
    display: inline-block;
}
.pvtAxisContainer li {
    padding: 8 px 6px;
    list-style-type: none;
    cursor: move;
}
.pvtAxisContainer li span.pvtAttr {
    -webkit-text-size-adjust: 100%;
    background: #f3f6fa;
    border: 1px solid #c8d4e3;
    padding: 2px 5px;
    white-space: nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}


/* CSS */
.itg-button-pivot {
  display: flex;
  flex-direction: column;
  font-size: smaller;
  align-items: center;
  padding:  4px 7px;
  border-radius: 6px;
  color: #3D3D3D;
  background: #fff;
  border: none;
  box-shadow: 0.4px 0.75px 1px 0.5px rgb(0 0 0 / 30%);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.itg-button-pivot:focus {
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.itg-button-pivot:hover {
    box-shadow: inset 0.4px 0.75px 1px 0.5px rgb(0 0 0 / 30%);
    outline: 0;
  }
