/* Main –––––––––––––––––––––––––––––––––––––––––––––––––– */
.cc {
	margin: 0 auto;
	position: relative;
	vertical-align: top;
	padding: 0px 0px 0px 0px;
	width:100%;
	height:100%;
	font-size: 12px;
	line-height:12px;
	display: block;	
	color: #1c1f2a;
}
.cc_graph {
	background: transparent;
	margin: 0 auto;
	margin-block-start: 0px;
	margin-block-end: 0px;
	margin-inline-start: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-inline-end: 0px;
    margin-top: 0px;
    margin-bottom: 0px;	
	width:100%;
	height:100%;
	display: flex;	
}
.cc_graph_container {
	width: 100%;
    height: 100%;
	background: white;
	padding:2px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 2px solid #888;
    border-top: 0.5px solid #AAA;
    border-right: 2px solid #888;
}

p.itg-emph {
    font-size: 10px;
    line-height: 12px;
	width:90px;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
    color: #1c1f2a;
    background-color: #cccccc;
    letter-spacing: 0;
    text-align: center;
    margin-block-start: 6px;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.cc_container {
	position: relative;
	display: contents !important;
	vertical-align: top;
	box-sizing: border-box;
	display:contents;
	width: 100%;
}
.cc_container:after {
	content: '';
	display: contents;
	clear: both;
}
.marks {
	width:100%;
	height:auto;
}
.cc_tab {
    background-color: #cccccc;
    border-left: 0.5px solid #AAA;
    border-bottom: 0.5px solid #AAA;
    border-top: 0.5px solid #AAA;
    width: 18px;
    height: inherit;
	opacity:0.5;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin: 0;
    z-index: 1;
}
.cc_tabscontent {
    width: min-content;
    background: #eeeeee;
    border-top: 0.5px solid #AAA;
	border-left: 0.5px solid #AAA;
    border-bottom-left-radius: 4px;
	border-bottom: 2px solid #AAA;
    z-index: 2;
}
button.cc_tablinks>img {
	width: 14px;
	padding-right: 4px;
	opacity:0.75;
}	
button.cc_tablinks:hover>img {
	width: 20px;
	opacity:1;
}



.cc_tab button {
    display: block;
    background-color: transparent;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border: none;
    height: 30px;
    outline: none;
    cursor: pointer;
    width: 20px;
    transition: 0.05s;
    padding: 0px;
	margin: 0px 1px 1px 1px;
}
button.active.cc_tablinks>img {
    margin-left: 4px;
	width: 15px;
	opacity:1;
}
.cc_tab button:hover {
    background-color: #eee;
    box-shadow: -1px 1px 4px 0px #843939;
}
.cc_tab button.active {
    background-color: #eee;
    width: 100%;
    padding: 0px;
    border-left: 0.5px solid #999;
    box-shadow: -0.5px 1px 1px 0px #999;
    z-index: 2;
}

.cc_tabcontent {
    float: left;
    padding: 2px;
    background-color: #eee;
    margin: 0px 0px 0px 0px;
    z-index: 5;
    /* border-right: #DDD solid 1px; */
    width: min-content !important;
    width: 88px;
    /* border-left: 1px solid #aaa; */
}
.cc_panel {
	padding-right: 0px;
	width: min-content;
    margin-left: -30px;
    padding-right: 0px;
    z-index:3;
    margin: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    height: inherit;
    display: inline-block;
    vertical-align: top;
}
.cc_panel-top {
	opacity: 0.5;
}
.cc_panel-top:hover {
	opacity: 1;
}

/* crossex –––––––––––––––––––––––––––––––––––––––––––––––––– */
.vega-embed {
	background: transparent;
}
div.vega-bind {
	margin: 1px !important;
	padding: 0px 1px !important;
	width: 100% !important;
	display: block !important;
	text-align: left !important;
	font-size: 10px !important;
}
div.vega-bind select {
    font-size: 10px !important;
}
.vega-bind-radio input {
	font-size: 10px !important;
}
#vg-tooltip-element {
	visibility: hidden;
	padding: 0.7em !important;
	line-height: 0.9em !important;
	position: fixed !important;
	z-index: 1000;
	font-family: sans-serif;
	font-size: 10px !important;
	border-radius: 3px !important;
	box-shadow: 2px 2px 0.5em rgba(0, 0, 0, 0.1) !important;
	background-color: rgba(255, 255, 255, 0.95) !important;
	border: 1px solid #dcdcdc !important;
	color: black;
}

div.vega-bind > label > input[type="text"] {
    width: 60px !important;
    font-size: 10px !important;
}
#vg-tooltip-element {
	visibility: hidden;
	padding: 8px !important;
	position: fixed;
	z-index: 1000;
	font-family: sans-serif;
	font-size: 10px !important;
	border-radius: 3px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
	background-color: rgba(255, 255, 255, 0.95);
	border: 1px solid #dcdcdc;
	color: black;
}
#vg-tooltip-element table tr td {
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	padding-top: 0.5px !important;
	padding-bottom: 0.5px !important;
}

.vega-embed summary svg {
    width: 16px !important;
    height: 16px !important;
    opacity: 0.3 !important;
    transition: opacity 0.4s ease-in !important;
}
.vega-embed.has-actions {
	padding: 0px !important;
}
.vega-embed summary {
	list-style: none !important;
    position: absolute !important;
    top: 24px !important;
    right: 24px!important;
    padding: 3px !important;
    z-index: 1000 !important;
    background: white !important;
    box-shadow: 1px 1px 1px rgb(0 0 0 / 10%) !important;
    color: #aaa !important;
    border: 0.2pxpx solid #aaa !important;
    border-radius: 3px !important;
    opacity: 0.3 !important;
    transition: opacity 0.4s ease-in !important;
    /* outline: none; */
    cursor: pointer;
    line-height: 0px;
}
.vega-embed .vega-actions {
    position: absolute !important;
    z-index: 1001 !important;
    top: 20px !important;
    right: 3px !important;
    display: flex !important;
    flex-direction: column !important;
    padding-bottom: 3px !important;
    padding-top: 3px !important;
    border-radius: 4px !important;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%) !important;
    border: 1px solid #d9d9d9 !important;
    background: white !important;
    animation-duration: 0.15s !important;
    animation-name: scale-in !important;
    animation-timing-function: cubic-bezier(0.2, 0, 0.13, 1.5) !important;
    text-align: left !important;
}
.vega-embed .vega-actions a {
    padding: 2px 4px !important;
    font-family: sans-serif !important;
    font-size: 12px !important;
    font-weight: normal !important;
    white-space: nowrap !important;
    color: #434a56 !important;
    text-decoration: none !important;
}
div.vega-bind > label > input[type="range"] {
	height: 0px !important;
	-webkit-appearance: none !important;
	margin: 0px 0 !important;
	width: 60px !important;
}
div.vega-bind > label > div.vega-bind > label > input[type=range]:focus {
	outline: none !important;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 60px !important;
	height: 4px !important;
	cursor: pointer !important;
	box-shadow: 1px 1px 1px #50555C !important;
	background: #50585C !important;
	border-radius: 6px !important;
	border: 0px solid #000000 !important;
}
input[type=range]::-webkit-slider-thumb {
	box-shadow: 0px 0px 0px #000000 !important;
	border: 0px solid #000000 !important;
	height: 10px !important;
	width: 6px !important;
	border-radius: 5px !important;
	background: #529DE1 !important;
	cursor: pointer !important;
	-webkit-appearance: none !important;
	margin-top: -3px !important;
}
div.vega-bind > label > input[type=range]:focus::-webkit-slider-runnable-track {
	background: #50585C !important;
}
div.vega-bind > label > input[type=range]::-moz-range-track {
	width: 60px !important;
	height: 4px !important;
	cursor: pointer !important;
	background: #50585C !important;
	border-radius: 6px !important;
	border: 0px solid #000000 !important;
}
div.vega-bind > label > input[type=range]::-moz-range-thumb {
	box-shadow: 0px 0px 0px #000000 !important;
	border: 0px solid #000000 !important;
	height: 10px !important;
	width: 6px !important;
	border-radius: 5px !important;
	background: #529DE1 !important;
	cursor: pointer !important;
}
div.vega-bind > label > input[type=range]::-ms-track {
	width: 60px !important;
	height: 4px !important;
	cursor: pointer !important;
	background: transparent !important;
	border-color: transparent !important;
	color: transparent !important;
}
div.vega-bind>label>span {
    font-size: 10px !important;
    font-family: sans-serif !important;
    vertical-align: top !important;
    position: relative !important;
    margin: 0px 0px 0px 0px !important;
    color: #555 !important;
}
div.vega-bind>label>span:nth-child(3) {
	font-size: 10px !important;
    font-family: sans-serif !important;
	vertical-align: top !important;
	position: relative;
	margin: 15px 0px 0px 2px !important;
	color: #607d8b !important;
}
div.vega-bind > label > input[type=range]::-ms-fill-lower {
	background: #50585C !important;
	border: 0px solid #000000 !important;
	border-radius: 12px !important;
	box-shadow: 1px 1px 1px #50555C !important;
}
div.vega-bind > label > input[type=range]::-ms-fill-upper {
	background: #50585C !important;
	border: 0px solid #000000 !important;
	border-radius: 12px !important;
	box-shadow: 1px 1px 1px #50555C !important;
}
div.vega-bind > label > input[type=range]::-ms-thumb {
	margin-top: 1px !important;
	box-shadow: 0px 0px 0px #000000 !important;
	border: 0px solid #000000 !important;
	height: 10px !important;
	width: 6px !important;
	border-radius: 5px !important;
	background: #529DE1 !important;
	cursor: pointer !important;
}
div.vega-bind > label > input[type=range]:focus::-ms-fill-lower {
	background: #50585C !important;
}
div.vega-bind > label > input[type=range]:focus::-ms-fill-upper {
	background: #50585C !important;
}

div.vega-bind > label > input[type="color"] {
	height: auto !important;
	border-width: 0px !important;
}
.vega-bindings {
	display: inline-block !important;
}
.vega-bind-name {
	text-align: left !important;
	font-weight: normal !important;
	
	color: #555 !important;
	padding: 0px !important;
	display: inline-block !important;
}

div.vega-bind select {
	-webkit-appearance: menulist !important;
	-moz-appearance: menulist !important;
	align-items: center !important;
	-webkit-rtl-ordering: logical !important;
	text-align: center !important;
	background-color: black !important;
	opacity: 0.8 !important;
	color: #ddd !important;
	margin: 0px !important;
	font-size: 10px !important;
	width: 60px !important;
	display: block !important;
	position: relative !important;
	transparent-space: nowrap !important;
	text-overflow: ellipsis !important;
	border-width: 1px !important;
	width: 85px !important;
	border-style: solid !important;
	border-color: rgb(194, 194, 194) !important;
	overflow: hidden !important;
}
.vega-bind-radio input {
	font-size: 10px !important;
}
div.vega-bind > label > input[type="checkbox"] {
	background-color: initial !important;
	height: 10px !important;
	cursor: default !important;
	appearance: checkbox !important;
	float: right !important;
	box-sizing: border-box !important;
	margin: 1px !important;
	padding: initial !important;
	border: initial !important;
}
